*{
	margin: 0;
	padding: 0;
}

h2{
	font-size: 30px;
	font-family: Verdana;
}

li{
	margin-left: 20px;
	text-align: justify;
}

.headerBack{
	background-color: grey;
	width: 100%;
	height: 250px;
}

.headerText{
	color:  black;
	font-size: 20px;
	margin-top: 50px;
	margin-left: 40%;
}

.sizeImage{
	position: absolute;
	margin-top: 40px;
	width: 130px;
	height: 160px;
}

footer{
	clear: both;
	width: 100%;
	height: 50px;
	background-color: grey;
}
